# Compiled class file
*.class

# SSH Keys
*.pem
*.ppk

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Merge Files
*.bak

# Gradle temporary files
target/
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse files
**/.project
**/.classpath
**/.settings/
/bin/
blog/bin/
**/.tern-project

# IntelliJ files
.idea
*.iws
*.iml
*.ipr
**/.gradle

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code
.vscode/

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Additional Files ###
HELP.md
